
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #616161;
  ;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

/* К любому объекту, в классе которого содержится "__container" будут применены такие стили  */
[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Desktop */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* Tablet */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* Mobile XS*/
/* @media (max-width: 479.98px) {
  [class*="__container"] {
  }
} */

/* ================================== HEADER SECTION ================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 40px 0 0;
}

@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
  }

  .menu__item {
    margin: 0 30px 0 0;
  }

  .header__container {
    min-height: 80px;
  }
}

.menu__link {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #000;
}

.button {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 10px;
  line-height:  1.2;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color .3s ease;
}

.button:hover {
  background-color: #fb6670;
}

.button_blue {
  background-color: #4285f4;
}

.button_blue:hover {
  background-color: #5393f9;
}

/* ==================================  GET-STARTED SECTION ==================================  */
.get-started {
  background-color: #fafbfd;
  padding: 150px 0 50px 0;
}
.get-started__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0 0 0 20px;

}

/* ==================================  TEXT BLOCK ==================================  */
.get-started__text-block {
  max-width: 410px;
}

.text-block {
}

.text-block__title {
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 126%;
}

.text-block__title:not(:last-child) {
  margin: 0 0 12px 0;
}

.text-block__title_pink span {
  color: #ec5863;
}

.text-block__title_blue span {
  color: #4285f4;
}

.text-block__text {
  color: #616161;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

.text-block__text:not(:last-child) {
  margin: 0 0 24px 0;
}

.text-block__button {
}

.get-started__video {
  padding: 0 0 0 20px;
  flex: 1 1 100%;
}

.video {
  display: inline-flex;
  align-items: center;
}

.video__icon {
  flex: 0 0 44px;
}

.video__body {
  padding: 0 0 0 12px;
}

.video__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
  transition: color .3s ease;
}

.video__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.video__title:hover {
  color: #5c5858;
  transition: color .3s ease;
}

.video__text {
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
  transition: letter-spacing .3s ease;
}

.video__text:hover {
  transition: letter-spacing .3s ease;
  letter-spacing: 1em;
}

.get-started__image {
  flex: 0 1 52%;
}

.get-started__image img {
  max-width: 100%;
}